label{
    cursor:pointer;
}
@font-face {
  font-family: 'Bidii';
  src: url('../fonts/bidii.ttf');  
  font-weight: normal;
  font-style: normal;
}
body,html{
    height:100%;
    font-family:'Bidii';
}

h1{
    font-size:24px;
    font-weight:bold;
}

h2{
    font-size:16px;
    background:#dee3df;
    padding:10px;
}
ul{
    margin:0px;
    padding:0px;
}
ul li{
    list-style:none;
    padding:10px;
    border-bottom: 1px solid lightgray;    
}
ol li{
    list-style-position: inside;
}
body > section{
    min-height:96%;
}

.row{
    margin-left:0px;
    margin-right:0px;
}

.ctrl{
    background: none repeat scroll 0 0 #dee3df;
    border: medium none;
    border-radius: 4px;
    color: black;
    margin: 2px;
    padding: 4px 7px;
}
#banner,footer{
    background:#0d8cba;
    color:white;
    padding:10px
}
#banner a,footer a{
    color:white;
}

#subbaner{
    background:#ddd9c7;
}
.header-botones{
    text-align:center;
    font-size:12px;
}
.header-botones a{
    color:white;
    font-size:40px;    
}
.header-botones-link{
    background:#0d8cba;
    border-radius:8px;
    color:white;
    margin-top:8px;
}
footer{
    height:4%;   
    text-align:center;
    font-weight:bold;
}

table.dataTable tr.odd td.sorting_1 {
    background-color: transparent;
}

table.dataTable tr.odd {
    background-color: transparent;
}

#sortable { list-style-type: none; margin: 0; padding: 0; width: 60%; }
#sortable li { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; font-size: 1.4em; height: 18px; }
#sortable li span { position: absolute; margin-left: -1.3em; }

.well{
    margin:0px;
}

.reg .form-group{
    margin-bottom:5px;
}

.planes{
    padding:20px;
    background:#adbfc1;
    text-align:center;
}
.planes > div:first-child{
    border-right:3px solid white;
}

.carousel{
    padding-left:0px;
    padding-right:0px;
}